body {
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.btn {
  max-width: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}
